<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.ShareFile" version="1.0.0" targetFramework="xamarinios10" />
  <package id="ScanbotSDK.Xamarin" version="1.5.1-beta1" targetFramework="xamarinios10" />
  <package id="ScanbotSDK.Xamarin.Forms" version="1.5.1-beta1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="xamarinios10" />
</packages>