<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.ReactiveStreams.Droid" version="1.0.1" targetFramework="monoandroid81" />
  <package id="Naxam.RxAndroid.Droid" version="2.0.1" targetFramework="monoandroid81" />
  <package id="Naxam.RxJava2.Droid" version="2.1.2" targetFramework="monoandroid81" />
  <package id="Plugin.ShareFile" version="1.0.0" targetFramework="monoandroid81" />
  <package id="ScanbotSDK.Xamarin" version="1.0.2" targetFramework="monoandroid81" />
  <package id="ScanbotSDK.Xamarin.Forms" version="1.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.9" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="monoandroid81" />
  <package id="Xamarin.Google.ZXing.Core" version="3.3.0" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Kotlin.StdLib" version="1.1.4.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Kotlin.StdLib.Jre7" version="1.1.4.3" targetFramework="monoandroid81" />
</packages>