<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="io.scanbot.example.scanbot_sdk_example_xamarin_forms">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="Scanbot SDK Example Xamarin Forms">
		<!-- 
            Required Scanbot SDK values for OCR functionality:
        
            Define OCR data paths here to fetch OCR blobs files from. 
            It can be an external URL (like "http://example.com/my-orc-data/"),
            or local Assets folders (like "SBSDKLanguageData")
        -->

        <!-- Configuration to fetch OCR blobs files from server: -->
        <!--
        <meta-data android:name="ocr_blobs_path" android:value="https://github.com/tesseract-ocr/tessdata/raw/3.04.00" />
        <meta-data android:name="language_classifier_blob_path" android:value="https://download.scanbot.io/di/android" />
        -->

        <!-- Configuration to fetch OCR blobs files from a local directory "SBSDKLanguageData" provided via Assets: -->
        <!-- The value must be a relative directory name to the Assets directory of your App. Place OCR blobs files into "<YOUR>Assets/SBSDKLanguageData/" -->
        <meta-data android:name="ocr_blobs_path" android:value="SBSDKLanguageData" />
        <meta-data android:name="language_classifier_blob_path" android:value="SBSDKLanguageData" />
		
	</application>
</manifest>